[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tzpranto
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tzpranto
	label-Verified = -1..+1 group user/tzpranto
	push = group user/tzpranto
	read = group user/tzpranto
	rebase = group user/tzpranto
	removeReviewer = group user/tzpranto
	submit = group user/tzpranto
[access "refs/heads/*"]
	create = group user/tzpranto
	push = +force group user/tzpranto
	pushMerge = group user/tzpranto
	read = group user/tzpranto
[access "refs/tags/*"]
	push = group user/tzpranto
	push = +force group user/tzpranto
